<%= form_with model: profile do |form| %>
  <% if @profile.errors.any? %>
    <p>whoops</p>
  <% end %>
  
  <div>
    <%= form.label :icon %><br />
    <%= form.file_field :icon %>
  </div>
  
  <div>
    <%= form.label :name %><br>
    <%= form.text_area :name %>
  </div>
  
  <div>
    <%= form.label :bio %><br>
    <%= form.text_area :bio %>
  </div>

  <div>
    <%= form.label :age %><br>
    <%= form.text_area :age %><br>
  </div>

  <div>
    <%= form.label :pronouns %><br>
    <%= form.text_area :pronouns %><br>
  </div>

  <div>
    <%= form.submit %>
  <% end %>
  </div>
