<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  
  <div>
  <%= form.label :status %><br>
  <%= form.select :status, Visible::VALID_STATUSES, selected: article.status || 'public' %>
</div>

  <div>
    <%= form.label :icon %><br />
    <%= form.file_field :icon %>
  </div>

  <div>
    <%= form.label :tags %><br>
    <%= form.collection_select :slug, Tag.all, :id, :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
