<div class="main">

<h1>🐬 sweet like bubblegum</h1>

<div class="profile">

<% if user_signed_in? %>
    <div class="pfp"><%= render @profiles %></div>
<% else %>
    <div class="pfp"><%= render @profiles %></div>
<% end %>

<div class="test2">
<% if user_signed_in? %>
 <div> welcome <%= current_user.email %> </div> 
  <%= button_to "log out", destroy_user_session_path, method: :delete, style: 'margin-left: .5em !important' %> 
<% else %>
 <div> i'm kat! </div>
  <%= button_to "log in if you're me", new_user_session_path, style: 'margin-left: .5em' %> 
<% end %>
</div>

<div class="test2">
<% if user_signed_in? %>
    <ul>
    <li><%= link_to "new", new_article_path %></li>
    <li><%= link_to "edit", edit_profile_path(id: current_user) %></li>
    <li><%= link_to "view", profile_path(id: current_user) %></li>
    </ul>
<% else %>
    <ul>
    <li><a href="/profiles/1">me</a></li>
    <li><%= link_to "refresh", articles_path %></li>
    </ul>
<% end %>
</div>

</div>

<hr>

<p><%= link_to "tags", tags_path %> | <a href="https://subscribeopenly.net/subscribe/?url=https%3A%2F%2Fbubblegum.girlonthemoon.xyz%2Farticles.rss">feed</a> | <a href="https://bytes.4-walls.net/kat/bubblegum">source</a> | <%= Article.public_count %> total posts </p>

<h4>2025</h4>

<dl>
   <% Article.where(created_at: Date.parse("2025-01-01")..Date.parse("2025-12-31")).reverse.each do |article| %>        
     <% unless article.archived? %>
       <dt>
       		<time <%= tag.attributes datetime: article.created_at.strftime('%Y-%m-%d') %> ><%= article.created_at.strftime('%Y %b %d') %></time>
       </dt>
       <dd>
         <%= link_to article.title, article %>                                                        
       </dd>

     <% end %>
   <% end %>                        
 </dl>

<h4>2024</h4>

<dl>
  <% Article.where(created_at: Date.parse("2024-01-01")..Date.parse("2024-12-31")).reverse.each do |article| %>
    <% unless article.archived? %>
      <dt>
     	 <time <%= tag.attributes datetime: article.created_at.strftime('%Y-%m-%d') %> ><%= article.created_at.strftime('%Y %b %d') %></time>
      </dt>
	  <dd>
         <%= link_to article.title, article %>
      </dd>
    <% end %>
  <% end %>
</dl>

</div>
