<div class="main h-entry">

<header>
	<h1 class="p-name"><%= @article.title %></h1>
</header>

<%= render "navbar" %>

<% if @article.icon.attached? %>
    <%= image_tag url_for(@article.icon) %>
<% end %>

<div class="article_info">
	<div class="article_date_text">
		<time class="article_time dt-published" <%= tag.attributes datetime: @article.created_at.strftime('%Y-%m-%d') %> ><%= @article.created_at.strftime('%Y %b %d') %></time>
	</div>
	<span class="tag_link">
		<span aria-hidden="true">|</span>
		<%= link_to @article.tag.name, @article.tag, class: "p-category" %>
		<span aria-hidden="true">|</span>
		<span style="color:var(--main-color);">
			<%= @article.body.scan(/[\p{Alpha}\-']+/).size %> words
		</span>
	</span>
</div>

<div class="pbody">
	<article>
		<%== markdown(@article.body) %>
	</article>
</div>

<% if user_signed_in? %>
<p class="pbody">
<%= link_to "edit", edit_article_path(@article) %> |
<%= link_to "destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
</p>
<% else %>
<% end %>

<hr>

<div class="bubbles-vote"></div>
<script src="https://bubbles.town/vote.js" defer></script>

<div id="webmentions_bbgm">
	<h3 id="webmentions">webmentions</h3>

	<ul id="wbm-mentions-list" style="margin-bottom:2rem;"></ul>

<!--
	<details>
		<summary>likes</summary>
			<ul id="wbm-likes-list"></ul>
	</details>
-->
	<script>
		async function wbmJson() {
			const postUrl = window.location.href;

			mentions = await fetch("https://webmention.io/api/mentions.jf2?target=" + postUrl).then(res => res.json()).then((res) => res.children);

			document.getElementById("wbm-mentions-list").innerHTML = mentions.filter((wm) => ["in-reply-to", "mention-of"].includes(wm["wm-property"])).map((m) => (
				`<li>
					<a href=${m.url}>${m.author.name}</a> said: ${m.content.text}
				</li>`
			))

		//	document.getElementById("wbm-likes-list").innerHTML = mentions.filter((wm) => ["like-of"].includes(wm["wm-property"])).map((m) => (
		//		`
		//		<a href=${m.url}>${m.author.name}</a>
		//		`
		//	))
		};

		wbmJson();
	</script>

	<%= render "articles/wbmnform" %>
	
</div>

<%= render "articles/hcard" %>

</div>
