<div class="main">

<h1><%= @article.title %></h1>

<% if @article.icon.attached? %>
    <%= image_tag url_for(@article.icon) %>
<% end %>

<p class="article_date"><%= @article.created_at.strftime('%Y %b %d') %></p>

<p class="article_date"><%= raw tag_links(@article.all_tags) %></p>

<div class="pbody"><%== @article.body %></div>

<% if user_signed_in? %>
<ul>
<li><%= link_to "edit", edit_article_path(@article) %></li>
<li><%= link_to "destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>

</ul>
<% else %>
<% end %>

<hr>

<ul>
<li><%= link_to "home", articles_path %></li>
<li><a href="/profiles/1">me</a></li>
</ul>

</div>
