<div class="main">

<h1><%= @article.title %></h1>

<% if @article.icon.attached? %>
    <%= image_tag url_for(@article.icon) %>
<% end %>

<div class="article_date">
<div class="article_date_text"><%= @article.created_at.strftime('%Y %b %d') %></div> <span class="tag_link">| <%= link_to @article.tag.name, @article.tag %> |</span>
<button class="tinylytics_kudos"></button>
</div>

<div class="pbody"><%== markdown(@article.body) %></div>

<% if user_signed_in? %>
<p class="pbody">
<%= link_to "edit", edit_article_path(@article) %> |
<%= link_to "destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
</p>
<% else %>
<% end %>

<hr>

<p class="pbody">
<%= link_to "home", articles_path %> | <a href="/profiles/1">me</a>
</p>

</div>
