<div class="main h-entry">

<header>
	<h1 class="p-name"><%= @article.title %></h1>
</header>

<%= render "navbar" %>

<% if @article.icon.attached? %>
    <%= image_tag url_for(@article.icon) %>
<% end %>

<p>
	<div class="article_date_text">
		<time class="article_time dt-published" <%= tag.attributes datetime: @article.created_at.strftime('%Y-%m-%d') %> ><%= @article.created_at.strftime('%Y %b %d') %></time>
	</div>
	<span class="tag_link"><span aria-hidden="true">|</span> <%= link_to @article.tag.name, @article.tag, class: "p-category" %></span>
</p>

<div class="pbody">
	<article>
		<%== markdown(@article.body) %>
	</article>
</div>

<% if user_signed_in? %>
<p class="pbody">
<%= link_to "edit", edit_article_path(@article) %> |
<%= link_to "destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
</p>
<% else %>
<% end %>

<hr>

<div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Form</a> is loading comments...</div>
 <link rel="stylesheet" type="text/css" href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
 <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24dwFdSm%2FyIgkbp76WCPYUu."+"&opts=16798&num=10&ts=1754231621077");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>

<hr>

<div id="webmentions_bbgm">
	<h3 id="webmentions">webmentions</h3>

	<%= render "articles/wbmnform" %>
	
	<script type="module" src="https://esm.run/seia" async></script>

	<s-e-i-a css="[text='sm']{display:none!important}[rounded~='avatar']{border-radius:0!important}[p-4=""]{padding:0!important}[transition='']{transition-property:none!important;transition-timing-function:none!important;transition-duration:0!important}[space-x~='reverse'] > :not([hidden]) ~ :not([hidden]){--un-space-x-reverse:-0.5!important};"></s-e-i-a>
</div>

<%= render "articles/hcard" %>

</div>
