<div class="main">

<header>
	<h1><%= @article.title %></h1>
</header>

<%= render "navbar" %>

<% if @article.icon.attached? %>
    <%= image_tag url_for(@article.icon) %>
<% end %>

<div class="article_date">
<p>
	<div class="article_date_text">
		<time <% tag.attributes datetime: @article.created_at.strftime('%Y-%m-%d') %> ><%= @article.created_at.strftime('%Y %b %d') %></time>
	</div>
	<span class="tag_link">| <%= link_to @article.tag.name, @article.tag %> |</span>
	<button class="tinylytics_kudos"></button>
</p>
</div>

<div class="pbody">
	<article>
		<%== markdown(@article.body) %>
	</article>
</div>

<% if user_signed_in? %>
<p class="pbody">
<%= link_to "edit", edit_article_path(@article) %> |
<%= link_to "destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
</p>
<% else %>
<% end %>

</div>
