<div class="main h-entry">

<header>
	<h1 class="p-name"><%= @article.title %></h1>
</header>

<%= render "navbar" %>

<% if @article.icon.attached? %>
    <%= image_tag url_for(@article.icon) %>
<% end %>

<div class="article_info">
	<div class="article_date_text">
		<time class="article_time dt-published" <%= tag.attributes datetime: @article.created_at.strftime('%Y-%m-%d') %> ><%= @article.created_at.strftime('%Y %b %d') %></time>
	</div>
	<span class="tag_link">
		<span aria-hidden="true">|</span>
		<%= link_to @article.tag.name, @article.tag, class: "p-category" %>
		<span aria-hidden="true">|</span>
		<span style="color:var(--main-color);">
			<%= @article.body.scan(/[\p{Alpha}\-']+/).size %> words
		</span>
	</span>
</div>

<div class="pbody">
	<article>
		<%== markdown(@article.body) %>
	</article>
</div>

<% if user_signed_in? %>
<p class="pbody">
<%= link_to "edit", edit_article_path(@article) %> |
<%= link_to "destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
</p>
<% else %>
<% end %>

<hr>

<div class="bubbles-vote"></div>
<script src="https://bubbles.town/vote.js" defer></script>

<div id="webmentions_bbgm">
	<h3 id="webmentions" style="margin-bottom:.5rem;">webmentions</h3>
	
	<script type="module" src="https://esm.run/seia" async></script>

	<s-e-i-a css="[text='sm']{display:none!important}[rounded~='avatar']{border-radius:0!important}[p-4='']{padding:.5rem 0 .8rem .8rem!important;}[transition='']{transition-property:none!important;transition-timing-function:none!important;transition-duration:0!important}[space-x~='reverse'] > :not([hidden]) ~ :not([hidden]){--un-space-x-reverse:-0.5!important;}[bg~='seia-bg']{background:transparent!important;}"></s-e-i-a>

	<%= render "articles/wbmnform" %>
	
</div>

<%= render "articles/hcard" %>

</div>
