<div class="main">

<header>
	<h1>🐬 <%= render @tag %></h1>
</header>

<%= render "articles/navbar" %>

<ul>
  <% @tag.articles.reverse.each do |article| %>
    <li>
      <div class="article_date_text"><%= article.created_at.strftime('%Y %b %d') %></div>: <%= link_to article.title, article_path(article) %>
    </li>
  <% end %>
</ul>


<p>
  <% if user_signed_in? %>
    <%= link_to "edit", edit_tag_path(@tag) %> |
    <%= link_to "delete", @tag, method: :delete %>
  <% else %>
  <% end %>
</p>

</div>
