<div class="main">

<header>
	<h1>🐬 <%= render @tag %></h1>
</header>

<%= render "articles/navbar" %>

<dl>
  <% @tag.articles.reverse.each do |article| %>
    <dt>
  		<time <%= tag.attributes datetime: article.created_at.strftime('%Y-%m-%d') %> ><%= article.created_at.strftime('%Y %b %d') %></time>
  	</dt>
	<dd>
      <%= link_to article.title, article_path(article) %>
    </dd>
  <% end %>
</dl>


<p>
  <% if user_signed_in? %>
    <%= link_to "edit", edit_tag_path(@tag) %> |
    <%= link_to "delete", @tag, method: :delete %>
  <% else %>
  <% end %>
</p>

</div>
