<!DOCTYPE html>
<html>
  <head>
    <title>
    	<% if defined?(@article.title) %>
    		<%= @article.title %>
   		<% else %>
  			<% if defined?(@tag.name) %>
  				<%= @tag.name %>
			<% else %>
	    	sweet like bubblegum
    	<% end %>
    	<% end %>
   	</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="subject" content="blog">
    <meta name="description" content="we're gonna fly away">
    <meta name="language" content="en-US">
    <meta name="author" content="girl on the moon">

    <meta property="og:title" content="<% if defined?(@article.title) %> <%= @article.title %> <% end %>">
    <meta property="og:description" content="<% if defined?(@article.body) %> <%= truncate(@article.body, length: 27, separator: /\s/) %> <% end %>">
    <meta property="og:image" content="<% if defined?(@article.slug) && !(@article.slug).nil? %> <%= article_url(@article.slug, format: :png) %> <% end %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<% if defined?(@article.slug) && !(@article.slug).nil? %> <%= article_url(@article.slug) %> <% end %>">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application.css" %>
    <%= favicon_link_tag asset_path("favicon.png") %>
    <%= auto_discovery_link_tag :rss, articles_path(:format => :rss) %>
    <%= javascript_importmap_tags %>
    
    <link rel="stylesheet" href="https://unpkg.com/@catppuccin/highlightjs@1.0.1/css/catppuccin-frappe.css">

    <link rel="webmention" href="https://webmention.io/bubblegum.girlonthemoon.xyz/webmention" />
    <link rel="authorization_endpoint" href="https://indieauth.4-walls.net">
    <link rel="token_endpoint" href="https://indieauth.4-walls.net/token">
        
    <script src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/highlight.min.js"></script>
	<script data-goatcounter="https://bubblegum.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

  </head>

  <body>
  <script>hljs.highlightAll();</script>
  <%= yield %>
  </body>
</html>
