<!DOCTYPE html>
<html>
  <head>
    <title>
    	<% if defined?(@article.title) %>
    		<%= @article.title %>
   		<% else %>
  			<% if defined?(@tag.name) %>
  				<%= @tag.name %>
			<% else %>
	    	sweet like bubblegum
    	<% end %>
    	<% end %>
   	</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="subject" content="blog">
    <meta name="description" content="we're gonna fly away">
    <meta name="language" content="en-US">
    <meta name="author" content="girl on the moon">

    <meta property="og:title" content="<% if defined?(@article.title) %> <%= @article.title %> <% end %>">
    <meta property="og:description" content="we're gonna fly away">
    <meta property="og:image" content="<% if defined?(@article.slug) %> <%= article_path(@article.slug, format: :png) %> <% end %>">
    
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application.css" %>
    <%= favicon_link_tag asset_path("favicon.png") %>
    <%= auto_discovery_link_tag :rss, articles_path(:format => :rss) %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://unpkg.com/@catppuccin/highlightjs@1.0.1/css/catppuccin-frappe.css">
    <script src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/highlight.min.js"></script>
    <script src="https://tinylytics.app/embed/nkLX7dscszfbJdU6pseT.js?kudos=ðŸ¬" defer></script> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

  </head>

  <body>
  <script>hljs.highlightAll();</script>
  <%= yield %>
  </body>
</html>
